<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47899342864-1knvnvdsdug8f8kab56k4g7bonff71o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47899342864-1knvnvdsdug8f8kab56k4g7bonff71o1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>47899342864-t2rfq79nd13atr8qqefj5a1fahp7p7ba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsDWIJhNBVwkGVpINftVxJcFgQ2lxxIbI</string>
	<key>GCM_SENDER_ID</key>
	<string>47899342864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.protectAppTest</string>
	<key>PROJECT_ID</key>
	<string>protect-app-testing-ba1c6</string>
	<key>STORAGE_BUCKET</key>
	<string>protect-app-testing-ba1c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47899342864:ios:6b643af1ee33fae9d6f295</string>
	<key>DATABASE_URL</key>
	<string>https://protect-app-testing-ba1c6-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>